.mainLayout {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

.displayContainer {
  display: flex;
  width: 60rem;
  height: 48rem;
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
}
